* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button, a {
    font-family: "Source Sans 3", sans-serif;
}

p {
    font-family: "Noto Serif Georgian", serif;
    font-size: 2.1rem;
}

/* COLORS  */

:root {
    --hover-border-outline: #1593ed;
}

/* BACKGROUND-IMAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.background-image {
    height: 100vh;
    width: 100%;
    background-size: 180%;
    background-position: 50% 38%;
    background-image: url(../imgs/girl.jpg);
    filter: brightness(50%);
    position: fixed;
    z-index: -1;
}

/* SECTION 1 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(1) {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

section:nth-of-type(1) p,
section:nth-of-type(1) h1 {
    color: white;
    text-align: center;
    padding: 1.8rem;
}

section:nth-of-type(1) h1 {
    line-height: 1;
    font-size: 10.6rem;
    width: 70rem;
    font-weight: 800;
    letter-spacing: 0.7rem;
}

section:nth-of-type(1) p {
    line-height: 2.3;
    font-size: 2.7rem;
    width: 115rem;
    transform: skewX(-5deg); /* you control the angle */
    font-weight: 300;
}

section:nth-of-type(1) .btn {
    padding-top: 2.5rem;
    padding-bottom: 10rem;
}

section:nth-of-type(1) button {
    border-radius: 5rem;
    height: 8.5rem;
    background-color: transparent;
    width: 8.5rem;
    font-size: 5rem;
    line-height: 0;
    border: 0.2rem solid white;
    color: white;
}

section:nth-of-type(1) button:hover {
    border: solid var(--hover-border-outline);
    color: var(--hover-border-outline);
    transition: all .2s ease-out;
}

/* HEADER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* LEFT */
header {
    width: 100%;
    max-width: 150rem;
    height: 8.5rem;
    margin: 0 auto;
}

header nav {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, .4);
}

header nav ul{
    font-size: 1.7rem;
    flex: 2 1 1rem;   
    display: flex;
    flex-wrap: nowrap;
    height: inherit;
}

.li-current{
    background-color: white;
}

.li-current a{
    color: black;

}

header nav ul li{
     height: inherit;
    display: flex;
    align-items: center;
}


header nav ul li a{
    padding: 0 5rem;
    height: inherit;
    width: 100%;
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    
}

header nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.241);
    transition: background-color .2s ease-in;
}

/* RIGHT */

.contacts{
    flex: 1;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact{
    height: inherit;
    padding-right: 3rem;
}

.contact a:hover svg{
    fill: var(--hover-border-outline);
    transition: fill .2s ease-out;
}

.contact svg {
    fill: #ffffff;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
}