* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

button {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Source Sans 3", sans-serif;
}

p {
    font-family: "Noto Serif Georgian", serif;
    font-size: 2.1rem;
}

/* fonts
    
    .noto-serif-georgian-<uniquifier> {
    font-family: "Noto Serif Georgian", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;


    .source-sans-3-<uniquifier> {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    }

} */

/* BACKGROUND-IMAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.background-image {
    height: 100vh;
    width: 100%;
    background-size: 180%;
    background-position: 50% 38%;
    background-image: url(../imgs/girl.jpg);
    filter:brightness(50%);
    position: fixed;
    z-index: -1;
}

section:nth-of-type(1) {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

section:nth-of-type(1) p, section:nth-of-type(1) h1{
    color: white;
    text-align: center;
    padding: 1.8rem;
} 

section:nth-of-type(1) h1 {
    line-height: 1;
    font-size: 10.6rem;
    width: 70rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

section:nth-of-type(1) p {
    line-height: 2.3;
    font-size: 2.7rem;
    width: 105rem;
    transform: skewX(-10deg); /* you control the angle */
    font-weight: 300;
}

section:nth-of-type(1) .btn{
    padding-top: 2.5rem;
    padding-bottom: 10rem;
}

section:nth-of-type(1) button {
    border-radius: 5rem;
    height: 8.5rem;
    background-color: transparent;
    width: 8.5rem;
    font-size: 5rem;
    line-height: 0;
    border: .2rem solid white;
    color: white;
    
}