* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    font-family: "Source Sans 3", sans-serif;
}

p {
    font-family: "Noto Serif Georgian", serif;
    font-size: 2.1rem;
}

a {
    color: black;
}

/* COLORS  */

:root {
    --hover-border-outline: #1593ed;
    --max-width: 150rem;
}

/* BACKGROUND-IMAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.background-image {
    height: 100vh;
    width: 100%;
    background-size: 180%;
    background-position: 50% 38%;
    background-image: url(../imgs/girl.jpg);
    filter: brightness(50%);
    position: fixed;
    z-index: -1;
}

/* SECTION 1 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__welcome,
.article__main {
    height: 100vh;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
    margin: 0 auto;
    color: white;
}

.section__welcome h1,
.section__welcome p {
    padding: 2rem;
}

.section__welcome h1,
.article__main h1 {
    line-height: 1;
    font-size: 10.6rem;
    width: 70rem;
    font-weight: 800;
    letter-spacing: 0.7rem;
}

.section__welcome p,
.article__main p {
    line-height: 2.3;
    font-size: 2.7rem;
    width: 115rem;
    transform: skewX(-5deg); /* you control the angle */
    font-weight: 300;
}

.section__welcome .btn,
.article__main .btn {
    padding-top: 2.5rem;
    padding-bottom: 10rem;
}

.section__welcome button,
.article__main button {
    border-radius: 5rem;
    height: 8.5rem;
    background-color: transparent;
    width: 8.5rem;
    font-size: 5rem;
    line-height: 0;
    border: 0.2rem solid white;
    color: white;
    transition: all 0.2s ease-out;

}

.section__welcome button:hover, .article__main button:hover {
    border: solid var(--hover-border-outline);
    color: var(--hover-border-outline);
    transition: all 0.2s ease-out;
}

/* HEADER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* LEFT */
.header__nav {
    width: 100%;
    max-width: var(--max-width);
    height: 8.5rem;
    margin: 0 auto;
}

.header__nav nav {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.4);
}

.ul__header__nav {
    font-size: 1.7rem;
    flex: 2 1 1rem;
    display: flex;
    flex-wrap: nowrap;
    height: inherit;
}


.li__header__nav {
    height: inherit;
    display: flex;
    align-items: center;
}

.header__nav .nav-link {
    padding: 0 5rem;
    height: inherit;
    width: 100%;
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in;
}

.header__nav .li__current {
    background-color: white;
}

.header__nav .li__current a {
    color: black;
}

.header__nav nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.241);
    transition: background-color 0.2s ease-in;
}

/* RIGHT */

.contacts {
    flex: 1;
}

.contacts {
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact {
    height: inherit;
    padding-left: 2rem;
}

.contact a:hover svg {
    fill: var(--hover-border-outline);
    transition: fill 0.2s ease-out;
}

.link__svg{
    display: block;
}

.link__svg svg {
    fill: #ffffff;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    transition: fill 0.2s ease-out;

}

/* SECTION 2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.article__main {
    background-color: white;
    justify-content: center;
    height: 164.3rem;
    color: black;
    padding: 17rem 17rem 13rem 17rem;
}

.article__main h1 {
    width: 100%;
    max-width: 100rem;
    font-size: 8.5rem;
    line-height: 1.1;
    margin-bottom: 4.2rem;
}

.article__main h1 a{
    color: black;
    transition: color .2s ease-out;
}

.article__main h1 a:hover {
    color: var(--hover-border-outline);
    transition: color 0.2s ease-out;
}

.article__main .article__date {
    font-style: initial;
    position: relative;
    width: 100%;
    margin-top: -5rem;
    margin-bottom: 8.5rem;
    display: block;
    font-size: 2.1rem;
}

.article__main .article__date::before {
    position: absolute;
    content: "";
    height: 0.2rem;
    left: 0;
    width: calc(50% - 15rem);

    background-color: #eeeeee;
    top: 50%;
    transform: translateY(-50%);
}

.article__main .article__date::after {
    position: absolute;
    content: "";
    height: 0.2rem;
    background-color: #eeeeee;
    width: calc(50% - 15rem);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.article__main .article__p {
    font-size: 2.2rem;
    line-height: 2;
    max-width: 70rem;
}

.article__main .img {
    width: 100%;
    height: 58rem;
    background-image: url(../imgs/shoes.jpg);
    background-position: 50% 40%;
    background-size: 100%;
    margin: 8.5rem 0;
    transition: all .2s ease-out;

}

.article__main .img:hover {
    background-size: 110%;
    transition: all .2s ease-out;
}

.article__main .btn{
    padding: 0;
}

.article__main button {
    /* background-color: black; */
    width: max-content;
    color: black;
    border: 0.2rem solid black;
    border-radius: 0;
    font-size: 1.9rem;
    font-weight: 800;
    height: 7rem;
    padding: 0 6rem;
    transition: all 0.2s ease-out;

}

/* .article-main button:hover {
    color: var(--hover-border-outline);
    border: 0.2rem solid var(--hover-border-outline);
    transition: all 0.2s ease-out;
} */
