* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html{
    font-size: 10px;
}

ul{
    list-style: none;
}

button{
    border: none;
}

body{
    /* font-family: "Noto Serif Georgian", serif; */
    font-family: "Source Sans 3", sans-serif;
}

/* fonts
    
    .noto-serif-georgian-<uniquifier> {
    font-family: "Noto Serif Georgian", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;


    .source-sans-3-<uniquifier> {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    }

} */


/* BACKGROUND-IMAGE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.background-image{
    height: 100vh;
    width: 100%;
    background-size: 150%;
    background-position: 50% 38%;
    background-image: url(../imgs/girl.jpg);
    position: fixed;
    z-index: -1;
}

section:nth-of-type(1){
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


section:nth-of-type(1) h1{
    line-height: 1;
    font-size: 10.6rem;
    text-align: center;
    width: 70rem;
    font-weight: 800;
    letter-spacing: .5rem;
    color: white
}